<%- include("./partials/header.ejs")-%>
<p class="text-light container">
    Disclaimer: Tech Nugget is a participant in the Amazon Services LLC Associates Program.
</p>
<% products.forEach(product =>{ %>
    <div class="container pt-3 pb-5 mb-5">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center align-items-center name">
                <h1 class="">
                    <%= product.name %> 
                </h1>
            </div>

            <div class="col-md-6 d-flex justify-content-center pb-3">
            <img class="img-fluid img-thumbnail product-img" src="<%= product.image%> ">
            </div>
            <div class="h3 col-md-2 d-inline-flex d-md-flex justify-content-center align-items-center">
            <a class="btn btn-light btn-lg" target="_blank" href="<%= product.affiliateLink %> ">Buy Now</a>
            </div>
            <div class="col-md-1 d-inline-flex d-md-flex justify-content-end justify-content-lg-center align-items-center">
            <a target="_blank" href="<%= product.instagramLink %> "><i class="fab fa-instagram fa-2x"></i></a>
            </div>

            <% if(currentUser){ %> 
            <div>
            <a href="/store/<%=product._id%>/edit" class="ml-3">Edit</a>

            <form action="/store/<%=product._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-xs">Delete</a>
            </form>
            </div>
        <% } %> 
        </div>
    </div>
<% }) %> 
<%- include("./partials/footer.ejs")-%>
